<div class="pokemon-detalhar-main" style="margin-top: 6%;">
  <div class="row">
    <div class="col-6">
      <p-card>
        <ng-template pTemplate="header">
          <div class="pokemon-detalhar-name">
            {{pokemon?.name.charAt(0).toUpperCase() + pokemon?.name.slice(1)}}
            <div class="row icons-row">
              <div [title]="typeOne" [className]="'icon ' + typeOne">
                <img class="icon-img" alt="type badge" [src]="pokemon.types?.length >= 1 ? 'assets/typesBadge/'+typeOne+'.svg' : ''">
              </div>

              <div [title]="typeTwo" [hidden]="pokemon.types.length === 1" [className]="'icon ' + typeTwo">
                <img class="icon-img" alt="type badge" [src]="pokemon.types?.length === 1 ? '' : 'assets/typesBadge/'+typeTwo+'.svg'">
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template pTemplate="body">
          <div class="pokemon-detalhar-img-main">
            <img *ngIf="id !== 1" (click)="anteriorPokemonDetalhar()" alt="arrow left" src="assets/img/poke-arrow-f.png" class="pokemon-detalhar-arrow-left">
            <img *ngIf="id !== 898 && id !== 10220" (click)="proxPokemonDetalhar()" alt="arrow right" src="assets/img/poke-arrow-f.png" class="pokemon-detalhar-arrow-right">
            <img [alt]="'imagem do pokemon ' + pokemon?.name" class="pokemon-detalhar-img"
                 [src]="shiny? pokemon?.imgUrlShiny : pokemon?.imgUrl">
          </div>
        </ng-template>

        <ng-template pTemplate="footer">

        </ng-template>
      </p-card>
    </div>
    <div class="col-6">
      <p-card [style]="{'width': '91.3%'}">
        <ng-template pTemplate="header">
          <h3 class="pokemon-detalhar-details-header">Detalhes</h3>
          <div class="pokemon-detalhar-buttons-main">
            <button (click)="shiny = false" class="btn btn-primary">Normal</button>
            <button (click)="shiny = true" class="btn btn-warning">Shiny</button>
          </div>
        </ng-template>

        <ng-template pTemplate="body">
              <span class="row col-12">
                <span style="font-size: 25px;font-weight: bold">Preço:</span>
                    <img alt="$" class="pokemon-list-img" height="20" width="15" src="./assets/img/pokeDollar.png" ><span
                class="col-6 pokemon-list-price">{{shiny ? (pokemon?.price * 10).toFixed(2) : pokemon?.price}}</span>

                <span *ngIf="pokemon.promo !== 0" class="pokemon-list-promo">-{{pokemon.promo}}%</span>
        </span>
          <p-table styleClass="table-class" [value]="pokemon?.stats">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 25%; font-size:12px ;text-align: center;">HP</th>
                <th style="width: 25%; font-size:12px ;text-align: center;">ATK</th>
                <th style="width: 25%; font-size:12px ;text-align: center;">DEF</th>
                <th style="width: 25%; font-size:12px ;text-align: center;">SP-ATK</th>
                <th style="width: 25%; font-size:12px ;text-align: center;">SP-DEF</th>
                <th style="width: 25%; font-size:12px ;text-align: center;">SPD</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-k>
              <th style="text-align: center;font-size:12px">{{k.base_stat}}</th>
            </ng-template>

          </p-table>
        </ng-template>

        <ng-template pTemplate="footer">
          <div class="row">
            <div class="col-6">
              <div style="margin-left:3%;font-weight:bold">Lista de Habilidades:
                <p-dropdown [style]="{'width':'100%'}" [options]="pokemon.movesPokemon" placeholder="Selecione..."
                            [showClear]="true"
                            optionLabel="name"></p-dropdown>
              </div>
            </div>
            <div class="col-6">
              <div [hidden]="pokemon.items?.length === 0">
                <div style="font-weight:bold">Lista de Items:
                  <p-dropdown [style]="{'width':'100%'}" [options]="pokemon.items" placeholder="Selecione..."
                              [showClear]="true"
                              optionLabel="name">

                  </p-dropdown>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <span style="line-height: 3;
                        font-size: 24px;
                        left: 6.5%;
                        position: absolute;">Peso: {{(pokemon?.weight * 0.45).toFixed(2)}}Kg</span>

            <span style="line-height: 3;
                         font-size: 24px;
                         right: 30%;
                         position: absolute;">Altura: {{(pokemon?.height / 10).toFixed(2)}}m</span></div>

          <p-button (click)="adicionarPokemon()" icon="pi pi-plus-circle" label="Adicionar"
                    class="pokemon-list-add-button">

          </p-button>
        </ng-template>

      </p-card>
    </div>
  </div>

</div>
