<div class="pokemon-detalhar-main">
  <div class="row">
    <div class="col-8">
      <p-card>
        <ng-template pTemplate="header">
        <span class="pokemon-detalhar-name" title="{{pokemon?.name.charAt(0).toUpperCase() + pokemon?.name.slice(1)}}">
          {{pokemon?.name.charAt(0).toUpperCase() + pokemon?.name.slice(1)}}</span>

        </ng-template>

        <ng-template pTemplate="body">

        </ng-template>

        <ng-template pTemplate="footer">

        </ng-template>
      </p-card>
    </div>
    <div class="col-3">
      <p-card>
        <ng-template pTemplate="header">
        <span class="pokemon-detalhar-name" title="{{pokemon?.name.charAt(0).toUpperCase() + pokemon?.name.slice(1)}}">
          {{pokemon?.name.charAt(0).toUpperCase() + pokemon?.name.slice(1)}}</span>

        </ng-template>

        <ng-template pTemplate="body">

        </ng-template>

        <ng-template pTemplate="footer">

        </ng-template>
      </p-card>
    </div>
  </div>

</div>
