.pokemon-detalhar-name{
  font-size: 45px;
  line-height: 2.3;
  text-align:center;
  font-weight:bold;
}

.pokemon-detalhar-img-main{
  text-align: center;
  display: inherit;
}

.pokemon-detalhar-img{
  height: auto;
  width: auto;
  min-width: 250px;
}

.pokemon-detalhar-buttons-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-detalhar-details-header{
  text-align:center;
  font-size: 45px;
  margin-left:2%;
  font-weight:bold;
}

.pokemon-list-add-button{
  text-align:center;
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 17%;
}

.pokemon-list-img{
  margin-top: 2%;
  margin-left: 1%;
}

.pokemon-list-price{
  font-size: 26px;
  margin-left: -2.5%;
}

.icons-row{
  justify-content: center;
  margin-right: 4%;
}

.pokemon-detalhar-main{
  height:100%;
  min-height:744px;
}

.pokemon-list-promo{
  background-color:red;
  color:ghostwhite;
  font-size: 15px;
  position: absolute;
  min-width: 7%;
  text-align: center;
  right: 0%;
  transform: rotate(
    29deg
  );
  border-radius:55%;
}

.pokemon-detalhar-arrow-left{
  position: absolute;
  left: 5%;
  bottom: 40%;
  transform: rotate(-90deg);
  width: 20%;
}

.pokemon-detalhar-arrow-right{
  position: absolute;
  right: 5%;
  bottom: 40%;
  transform: rotate(-270deg);
  width: 20%;
}

