<div class="col-12">
  <div class="pokemon-card row pokemon-list-row"  *ngFor="let p of pokemons; let i = index">

    <p-card>
      <ng-template pTemplate="header">

      <div [style]="{'min-height':'210px'}">
        <a [routerLink]="['/pokemons/detalhar']" [queryParams]="{id:p?.id}" data-toggle="tooltip" role="button">
          <img [alt]="'imagem do pokemon ' + p?.pokemon.name.charAt(0).toUpperCase() + p?.pokemon.name.slice(1)" height="40%" [src]="p?.imgUrl">
        </a>
      </div>

      </ng-template>
      <span class="row" style="width:100%">
        <span title="{{p?.pokemon?.name.charAt(0).toUpperCase() + p?.pokemon?.name.slice(1)}}" class="pokemon-list-name col-12">{{p?.pokemon?.name.charAt(0).toUpperCase() + p?.pokemon?.name.slice(1)}}
        </span>

        <div class="row col-12" style="max-width: 100%">
          <h4 class="col-12 pokemon-list-price">{{p?.price}}
            <span *ngIf="p.promo !== 0" class="pokemon-list-promo">-{{p?.promo}}%</span>
          <img alt="$" class="pokemon-list-img" height="20" width="15" src="./assets/img/pokeDollar.png" ></h4>
        </div>
      </span>

      <p-table styleClass="table-class" [value]="p?.stats">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 18%; font-size:8px ;text-align: center;">HP</th>
            <th style="width: 18%; font-size:9px ;text-align: center;">ATK</th>
            <th style="width: 18%; font-size:9px ;text-align: center;">DEF</th>
            <th style="width: 18%; font-size:9px ;text-align: center;">SP-ATK</th>
            <th style="width: 18%; font-size:9px ;text-align: center;">SP-DEF</th>
            <th style="width: 18%; font-size:9px ;text-align: center;">SPD</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-k>
          <th style="text-align: center;font-size:9px">{{k.base_stat}}</th>
        </ng-template>
      </p-table>

      <ng-template pTemplate="footer">
        <p-button class="pokemon-list-add-button" (click)="adicionarPokemon(p);" label="Adicionar"
                  icon="pi pi-plus-circle"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
