.pokemon-list-row{
  padding:0;
}

.pokemon-list-name{
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pokemon-list-add-button{
  display:flex;
  justify-content:center;
}

.pokemon-card{
  width: 18%;
  margin-left: 0.92%;
}

.pokemon-list-price{
  line-height: 2;
  font-size: 20px;
  margin-left: -15px;
}

.pokemon-list-img{
  margin-left: 10%;
  margin-top: 6%;
}

.pokemon-list-promo{
  background-color:red;
  color:ghostwhite;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 10px;
}

