.pokemon-list-row{
  padding: 0;
  display: table;
  width: 21%;
  float: left;
  margin: 0.55%;
}

.pokemon-list-name{
  font-weight: bold;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1em;
  display: block;
  max-width: 100%;
}

.pokemon-list-add-button{
  display:flex;
  justify-content:center;
}

.pokemon-card{
  width: 22.9%;
  max-width:22.9%;
  margin-left: 0.92%;
}

.pokemon-list-price{
  line-height: 2;
  font-size: 20px;
}

.pokemon-list-promo{
  background-color:red;
  color:ghostwhite;
  font-size: 15px;
  position: absolute;
  right: -25%;
  top: -100%;
  border-radius:55%;
  min-width: 21%;
  text-align: center;
  transform: rotate(
    29deg
  );
}

.pokemon-list-background{
  background-color: rgba(180,180,180,0.3);
  border-radius:6%;
}

.pokemon-list-background:hover{
  background-color: rgba(73, 73, 73, 0.3);
  transition: 500ms all;
}

.pokemon-list-img-background{
  transition: 500ms all;
}

.pokemon-list-img-background:hover{
  transform:scale(1.125);
  transition: 500ms all;
}


