<p-card class="pokeball-pokemon-list-card col-12">
  <ng-template pTemplate="header">

    <h3 class="poke-ball-header">PokeList</h3>
    <button type="button" (click)="finalizarCompras()"
              icon="pi pi-check" label="Finalizar Compras" pButton
              (mouseenter)="mouseEvent = true"
              (mouseleave)="mouseEvent = false"
              [ngClass]="mouseEvent ? 'p-button-raised p-button-danger pokemon-list-finalizar-button' : 'p-button-raised p-button-warning pokemon-list-finalizar-button'"
              ></button>

    <div class="col-12 pokeball-pokemon-header">

        <h5 class="pokeball-pokemon-total-price row">Total:{{precoTotal.toFixed(2)}}
      <img
        class="pokeball-pokemon-pokedollar-img"
        height="15"
        src="./assets/img/pokeDollar.png">
      </h5>
      <h5 class="pokeball-pokemon-total-cashback row">Cashback:{{cashBackValue}}
      <img
        class="pokeball-pokemon-pokedollar-img"
        height="15"
        src="./assets/img/pokeDollar.png">
      </h5>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <div *ngFor="let p of pokemonsAdicionados; let i = index" class="poke-ball-card-list-body">
      <ul class="pokeball-pokemon-list">
        <li class="pokeball-body">
          <a [routerLink]="['pokemons/detalhar']" [queryParams]="p?.id">
            <img class="pokeball-pokemon-list-img" src="{{p?.imgUrl}}" alt="./assets/img/notfound.png">
          </a>
          <div class="row pokeball-pokemon-row">
            <div class="col-5">
              <span
                class="pokeball-pokemon-list-name"> {{p?.pokemon.name.charAt(0).toUpperCase() + p?.pokemon.name.slice(1) }} </span>
              <span class="pokeball-pokemon-list-price"> Preço: {{(p?.quantidade * p?.price).toFixed(2)}} <img
                height="15"
                src="./assets/img/pokeDollar-white.png"></span>
            </div>
            <div class="col-5">
              <span class="pokeball-pokemon-list-quant">Quantidade: {{p?.quantidade}}</span>
              <div class="pokeball-pokemon-list-btn">
                <button (click)="adicionarQtdPokemon(p)" class="btn btn-sm btn-primary">+</button>
                <button (click)="reduzirQtdPokemon(p)" class="btn btn-sm btn-danger">-</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</p-card>
