.poke-ball-header{
  line-height: 3;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
}

.p-card-content{
   padding: 0 0;
}

.poke-ball-list-img{
  height:20%;
  width:20%;
  margin-left:5%;
}

.poke-ball-list-name{
  font-family: Roboto,sans-serif;
  font-size: 1.1rem;
  display:grid;
  align-content: center;
  justify-content: center;
  margin-left: 4%;
}

.poke-ball-button-exclude{
  height: 50%;
  display:grid;
  align-content: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right:5%;
  margin-top:4%;
  border-radius: .75rem;
}

.poke-ball-body{
  height:100%;
}

.p-card-content{
  padding:0;
}

.poke-ball-card-list-body{
  width: 110%;
  min-width: 115px;
  height: 100%;
  min-height: 110px;
  background-color: #2d2d2d;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-left: -5%;
  align-content: center;
}

.poke-ball-list-counter{
  margin-left:12%;
  width:25px;
}

.poke-ball-list-counter-number{
  margin-top:2%;
}

.btn {
  border-radius: .75rem;
  margin-left:2%;
}

li{
  list-style: none;
}

.pokeball-pokemon-list-card{
  background-color:red;
}

.poke-ball-list-price{
  font-size:2em;
  text-align: center;
}

.pokeball-pokemon-list{
  max-height: 12.5em;
  text-align: left;
  margin: 0 2em 2em;
}

.pokeball-pokemon-list-img{
  max-height: 5.5em;
  position: absolute;
  left: 5%;
}

.pokeball-pokemon-list-name{
  float:left;
  font-size:1.75em;
  color:whitesmoke;
}

.pokeball-pokemon-list-price{
  float:left;
  font-size:1em;
  color:whitesmoke;
  line-height:1.2;
}

.pokeball-pokemon-list-quant{
  font-size: 0.690em;
  line-height:3.5;
  font-weight:bold;
  color:#999;
}

.pokeball-pokemon-row{
  margin-right: -35%;
  margin-left: 5%;
  margin-top: 10%;
}

.pokeball-pokemon-header{
  background-color: #bebe2a;
  min-width: 100px;
  width: 100%;
  min-height: 125px;
  color: black;
}

.pokeball-pokemon-total-price{
  justify-content: center;
  line-height:2.5;
  font-size:25px
}

.pokeball-pokemon-total-cashback{
  justify-content: center;
  line-height:2.5;
  font-size:20px
}

.pokeball-pokemon-pokedollar-img{
  height: 10%;
  width: 5% !important;
  margin-top: 4.5%;
  margin-left:1%;
}

.pokemon-list-finalizar-button{
  top: 13.5%;
  right: 25.5%;
  position: absolute;
}

.pokemon-list-finalizar-button:hover{
  top: 13.5%;
  right: 25.5%;
  position: absolute;
}

.pokemon-added-count{
  position: fixed;
  top: 6.8%;
  right: 1.8%;
  background-color:yellow;
  font-size:15px;
}
