.poke-ball-header{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  min-height: 100px;
  line-height: 100px;
  text-align: center;
  justify-content:center;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
}

.p-card-content{
   padding: 0 0;
}

.poke-ball-list-img{
  height:20%;
  width:20%;
  margin-left:5%;
}

.poke-ball-list-name{
  font-family: Roboto,sans-serif;
  font-size: 1.1rem;
  display:grid;
  align-content: center;
  justify-content: center;
  margin-left: 4%;
}

.poke-ball-button-exclude{
  height: 50%;
  display:grid;
  align-content: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right:5%;
  margin-top:4%;
  border-radius: .75rem;
}

.poke-ball-body{
  height:100%;
}

.p-card-content{
  padding:0;
}

.poke-ball-card-list-body{
  margin-top:-1%;
  width:100%;
  background-color: #2d2d2d;
}

.poke-ball-list-counter{
  margin-left:12%;
  width:25px;
}

.poke-ball-list-counter-number{
  margin-top:2%;
}

.btn {
  border-radius: .75rem;
  margin-left:2%;
}

li{
  list-style: none;
}

.pokeball-pokemon-list-card{
  background-color:red;
}

.poke-ball-list-price{
  font-size:2em;
  text-align: center;
}

.pokeball-pokemon-list{
  max-height: 12.5em;
  text-align: left;
  margin: 0 2em 2em;
}

.pokeball-pokemon-list-img{
  max-height: 5.5em;
  position: absolute;
  left: 7.5%;
}

.pokeball-pokemon-list-name{
  float:left;
  font-size:1.75em;
  color:whitesmoke;
}

.pokeball-pokemon-list-price{
  float:left;
  font-size:1.0em;
  color:whitesmoke;
  line-height:1.2;
}

.pokeball-pokemon-list-quant{
  font-size: 0.690em;
  line-height:3.5;
  font-weight:bold;
  color:#999;
}

.pokeball-pokemon-list-btn{
}

.pokeball-pokemon-row{
  margin-right: -35%;
  margin-left: 5%;
  margin-top: 10%;
}

.pokeball-pokemon-total-price{
  margin-top:5%;
  background-color: #bebe2a;
  text-align: center;
  line-height: 2.3;
  position: absolute;
  top: -23px;
  min-width: 309px;
  height: 80px;
  color: black;
}





