.svg-pokeball{
  position: absolute;
  right: 46.3%;
  top: 8.2%;
}

.svg-dot{
  position: absolute;
  right: 46.3%;
  top: 8.2%;
}

.pokeball-dots{
  position: absolute;
  right: 46.2%;
  top: 8.2%;
}
