.promo-header{
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color:white;
}

.promo-text{
  line-height :3;
  margin-left:4%;
  text-shadow: #2b2b2b 1px 1px 30px;
}

.rainbow-background {
  height: 100%;
  width: 93.6%;
  min-height:140px;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  margin-left:2.2%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.container{
  display: flex;
  min-height: 1px;
  flex-direction: column;
  height:100%;
  background-size:contain;
  overflow-y:auto;
}

main{
  font-family:Roboto,sans-serif;
  color:red;
}
