<app-header></app-header>
<main [style]="'background-color:'+color">
<app-sub-header></app-sub-header>
  <div class="container col-8">
    <div [hidden]="currentType === undefined">

      <div [hidden]="currentType !== 'fp'">

        <div class="rainbow-background promo-header">
          <span class="promo-text">PROMOÇÃO DE SHINIES</span>
        </div>

      </div>
      <p-card [hidden]="currentType !== 'fire'" [style]="{'background-color':'#ff8484','width':'95.7%'}">
        <div class="promo-header container" style="text-align: center;">

          <div class="row">
            <div class="col-md-12">
              <span [style]="{'color': colorText}"> QUEIMA DE ESTOQUE</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <span style="font-size:25px;color:#f8f8f8"> 25% DE DESCONTO EM TODOS POKEMONS TIPO FOGO</span>
            </div>
          </div>

        </div>
      </p-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>

