.poke-ball-main-open {
  background-color: red;
  display: flex;
  position: fixed;
  width: 20.2%;
  top: 15.9%;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  transition: height 0.5s;
}

.poke-ball-main-closed{
  background-color: slategrey;
  display: flex;
  position: fixed;
  width: 20.2%;
  top: 15.9%;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height:0;
  transition: height 0.5s;
}

.p-card-body{
  padding:0;
}

.poke-ball-closed{
  position:fixed;
  top:2%;
  right:1%;
}

.poke-ball-open{
  position:fixed;
  top:.6%;
  right:1%;
}

.header-main__search{
  position: relative;
  left: 25%;
  top:1.4%;
  height:8.1%;
  width:50%
}

.pokeball-pokemon-cashback{
  position: fixed;
  width: 160px;
  top: 20%;
  right: 12.5%;
  border-radius: 0 5px 0 0;
  transform: rotate(
    -41deg
  );
  z-index: 1;
  transition: visibility 1s;
}
