.poke-ball-main-open {
  background-color: red;
  display: flex;
  position: fixed;
  width: 20.3%;
  top: 17%;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
  transition: height 1s;
}

.poke-ball-main-closed{
  background-color: slategrey;
  display: flex;
  position: fixed;
  width: 20.3%;
  top: 17%;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height:0;
  transition: height 1s;
}

.p-card-body{
  padding:0;
}

.poke-ball-closed{
  position:fixed;
  top:2%;
  right:1%;
}

.poke-ball-open{
  position:fixed;
  top:.6%;
  right:1%;
}

.header-main__search{
  position: absolute;
  left: 25%;
  top:2%;
  height:8.1%;
  width:50%
}
